@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

bbva-web-list-item-simple {
  padding: 8px;
}

img {
  width: 100%;
}

.buttons, .title {
  text-align: center;
  padding: 10px;
}

li {
  text-align: initial;
}
